
<div class = "login-contain p-5">

 

<div class = "login-card alpha-bg order border-light p-4 col-8 rounded mx-auto">
   <h2 class="page-title">Login</h2>
<form class="form login-form">
  <div class="form-group mt-3 d-flex ">
    <input class="form-input"  size="50" placeholder="email" type="text" id="email-login" />
  </div>
  <div class="form-group mt-3  d-flex ">
    <input class="form-input"  size="50" placeholder="password" type="password" id="password-login" />
  </div>
  <div class="form-group mt-3 d-flex ">
    <button class="btn btn-dark" type="submit">login</button>
  </div>
</form>
</div>


  <div class="login-card alpha-bg2 col-8 mt-4 p-4 rounded mx-auto ">
    <h2 class="page-title ">Signup</h2>
    <form class="form signup-form">
      <div class="form-group mt-3 d-flex ">
        <input class="form-input"  size="50" placeholder="username" type="text" id="username-signup" />
      </div>
      <div class="form-group  mt-3 d-flex ">
        <input class="form-input"  size="50" placeholder="email" type="text" id="email-signup" />
      </div>
      <div class="form-group  mt-3 d-flex ">
        <input class="form-input"   size="50" placeholder="password" type="password" id="password-signup" />
      </div>
      <div class="form-group  mt-3">
        <button class="btn btn-dark" type="submit">signup</button>
      </div>
    </form>
  </div>

  </div>

<script src="/js/login.js"></script>
