{{#each playlists as |playlist|}}

<div class="card">
  <h5 class="card-title"> {{playlist-name}}</h5>
 
  <div class="card-body">
 {{ tag}}
  </div>
</div>



{{/each}}


<form id="playlist-form">
<input id= "playlist-id" hidden value="{{playlist_id}}"/>
<input id="songName" />


  <button type="submit">Add a Song</button>
</form>

<script src="/js/search.js"></script>