.container{
    padding-left: 0;
}

.alpha {
    color: #006BFF;
}

.alpha-bg{
    background-color: #001085;
}

.alpha-bg2{
    background-color: #0004FF;
}

.song-submit:hover{
    background-color: #006BFF !important;
}


.beta {
    color: white !important;
    
}

.playlistCard{
    background-color: #001085;
}

.playlistCard:hover{
    background-color: #006BFF !important;

}
.logIn{
    background-color: #001085 !important ;
    color: white;
    /* color:white; */
}

/* .login-contain{
    background-color: #001085 !important;
    color:#006BFF;
} */

.bg-custom-1 {
    background-color: #0004FF !important;
}


.logIn:hover{
    background-color: #0004FF !important;
    color:aliceblue;
}

.logOut:hover{
    background-color:#808080;
    color:aliceblue;
}

.card-body{
    color: white;
}

.row{
    padding:0;
}
.playlistSong:hover{
    background-color: #d3d3d3!important;
    padding:0;
}


    
.page-title{
     color:white;
}

.login-card{
    color:#006BFF;

}
.login-card:hover{
    background-color: #006BFF !important;
    color:white;

}

.logout{
    background-color: white !important;
    color:black !important;
}

.logIn{

}